* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #bbb;
}

.slider {
  margin-top: 50px;
  position: relative;
  width: 564px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* gap: 2px; */
  margin-top: 50px; 
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
  border: #000 2px solid;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.control {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.control:hover {
  background-color: rgba(46, 44, 44, 0.5);
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}

.pause {
  margin: auto;
}